.header {
    height: 114px;
    background-color: var(--primary-bgc-color);
}

.header-container {
    display: flex;
}

.navigation {
    display: flex;
}

.logo-icon {

}

.logo-text {

}

.site-nav {

}

.site-nav-item {

}

.header-link {

}

.header-buttons {
    display: flex;
}

.search-button {

}

.search-icon {

}

.bag-button {

}

.bag-icon {

}