.header {
    //height: 114px;
    background-color: var(--primary-bgc-color);
}

.header-container {
    height: 114px;
    display: flex;
    @extend %align-items;
    border-bottom: 1px solid #ffffff;
}

.navigation {
    display: flex;
}

.logo-icon {
    width: 56px;
    height: 56px;
}

.logo-text {
    align-items: center;
    @include font(400, 35px, 1.37, 0.06em);
    color: var(--secondary-text-color);
}

.site-nav {
    display: flex;
}

.site-nav-item {

}

.header-link {
    
}

.header-buttons {
    display: flex;
}

.search-button, .bag-button {
    width: 56px;
    height: 56px;
    background-color: var(--secondary-text-color);
    padding: 10px;
}

.search-icon,.bag-icon {
    width: 24px;
    height: 24px;
}

.bag-button {
    margin-left: 15px;
}