.hero {
    height: 1000px;
    background-image: linear-gradient(to bottom,
        var(--accent-color),
        var(--secondary-text-color));
}

.hero-title {
    padding-top: 40px;
    text-align: center;
    @include font(700, 110px, 1.35, 0.04em);
    color: var(--secondary-text-color);
    text-shadow: 2px 2px 20px var(--effect-color),
        5px 5px 5px var(--primary-text-color);
}

.hero-box {
    display: flex;
}

.hero-box-reviews {
    display: block;
    margin-top: 30px;
}

.hero-reviews {
    display: flex;
}

.image-people {
    width: 110px;
    height: 44px;
}

.hero-text {
    width: 112px;
    height: 27px;
    margin-top: 12px;
    margin-left: 10px;
    @include font(500, 20px, 1.35);
    color: var(--secondary-text-color);
}

.hero-list {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
}

.hero-list-item {
    margin-top: 25px;
    @include font(600, 20px, 1.35);
    color: var(--primary-text-color);
}

.image-lines {
    margin: 0 auto;
    margin-top: 30px;
}