:root {
    --primary-text-color: #1E2438;
    --secondary-text-color: #FFFFFF;
    --accent-color: #B1464A;
    --primary-bgc-color: #E47479;
    --accent-bgc-color: #FFF0DE;
    --primary-icon-color: #D4D4D8;
    --effect-color: #FD5E5F;
}